@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .flex-all-center {
    @apply flex justify-center items-center;
  }
  .flex-y-center {
    @apply flex items-center;
  }
  .flex-h-center {
    @apply flex justify-center;
  }
  .transition-300 {
    @apply transition-all duration-300;
  }
  .transition-500 {
    @apply transition-all duration-500;
  }
  /* typhography */
  .text-title {
    @apply text-2xl font-bold tracking-wider;
  }
  .text-medium {
    @apply text-lg font-semibold tracking-wide;
  }
  .text-description {
    @apply text-sm font-light tracking-wider text-slate-700;
  }

  /* browser */
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
